{:duct.core/project-ns character-sheet-example
 :duct.core/environment :production

 :duct.module/logging {}
 :duct.module.web/site {}

 :duct.middleware.web/defaults
 {:params    {:urlencoded true
              :keywordize true
              :multipart  true
              :nested     true}
  :cookies   true
  :session   {:flash true
              :cookie-attrs {:http-only true}}
  :security  {:anti-forgery   false
              :xss-protection {:enable? true, :mode :block}
              :frame-options  :sameorigin
              :content-type-options :nosniff}
  :static    {:resources ""}
  :responses {:not-modified-responses false
              :absolute-redirects     true
              :content-types          true
              :default-charset        "utf-8"}}

 :duct.core/handler {:middleware ^:distinct [#ig/ref :character-sheet.duct.middleware/transit-json
                                             #ig/ref :character-sheet.duct.middleware/body-params
                                             #ig/ref :character-sheet.duct.middleware/flush]}

 :duct.server.http/jetty
 {:port #duct/env ["HTTP_SERVER_PORT" Int :or 3000]}
 
 :character-sheet.duct/datomic
 {:uri       #duct/env ["DB_URI" Str :or "datomic:free://localhost:4334/character-sheet"]
  :schema    ["db/base/character.edn"]
  :data      ["db/seeds.edn"]
  :transform character-sheet.duct.datomic/seed-post-inflate}

 :character-sheet.duct.middleware/flush
 {}
 
 :character-sheet.duct.middleware/body-params
 {}

 :character-sheet.duct.middleware/transit-json
 {:formats [:transit-json]}
 
 :duct.router/cascading
 [#ig/ref :character-sheet.endpoint/static
  #ig/ref :character-sheet.endpoint/character-sheet]

 :character-sheet.endpoint/static
 {}

 :character-sheet.endpoint/character-sheet
 {:db #ig/ref :character-sheet.duct/datomic}}
