$paper:      #fff6e5;
$paper:      #fcfbf7;
// $light-blue: #7ecefc;
$light-blue: #bee5fc;


$dark-blue:  #2186c4;
$charcoal:   #3f464c;
$salmon:     #ff7f66;

$light-green: #daede2;
$teal:        #77c4d3;  // cognitectish
//$teal:        #78bcd5;
$green-blue:  #779fd3;
$darkish:     #cac9c6;
$red:         #eb807e;
$yellow:      #f8f9d6;

$light-gray: #cfd9db;
$green:      #79bd8f;

$shadow: 0px 1px 1px rgba(0,0,0,0.3);


/* */

$body-bg:  $paper;
$active:   $light-blue;
$inactive: $dark-blue;
$meta:     $light-blue;

$inactive: $light-green;
$active: $teal;
$tip: #adaca4;
